.single {
    padding: 3px;
    margin: 10px ;
    display: flex;
    border-radius: 20px;
    /*background-color: rgba(58, 72, 234, 0);*/
    background-color: #FFB6C1;
    justify-content: space-around;
    width: 100%;
}
.todo-name{
    margin: 5px;
    padding: 5px;
}
.icons{
    margin: 5px;
    padding: 5px;
    display: flex;
}
.icon{
    padding: 5px;
    cursor: pointer;
}
.icon:hover{
    transform: scale(0.9);
}
.btn1 {
    background-color: #f7c2c2;
    border-radius: 25%;
    width: 50px;
    font-size: 15px;
    padding: 5px;
    border: none;
}